#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  --main: #690060;
  --accent: #9E006F;
  --second: #F4F1F3;
}

.app-body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background: linear-gradient(90deg, rgba(105, 0, 96, 1) 0%, rgba(179, 98, 189, 1) 100%);
  /*linear-gradient(90deg, rgb(146 75 139) 0%, rgb(201 120 212) 100%);*/
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--second);
  box-sizing: border-box;
}

.container {
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.subtitle {
  font-size: 2rem;
  font-weight: 600;
  color: var(--second);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pic-container {
  position: relative;
  /*width: 100%;*/
  /*height: 200px;*/
  /*background-image: url("./assets/table.jpeg");*/
  /*background-size: cover;*/
  /*background-position: center;*/
  /*border-radius: 0.5rem;*/
}

.greetings {
  font-size: 1rem;
  color: var(--second);
  margin: 2rem 0;
}

.section {
  margin-bottom: 1.5rem;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--second);
}

.section-text {
  font-size: 1rem;
  color: var(--second);
  text-align: center;
}

.program-list {
  list-style: none;
  padding: 0;
  text-align: left;
  color: var(--second);
}

.program-list p {
  border-left: #790f09 solid 1px;
  padding: 0.5rem;
  margin: 0.5rem 4rem;
}

.place-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 0.5rem;
}

.rsvp-button {
  display: inline-block;
  background-color: var(--accent);
  color: var(--second);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.rsvp-button:hover {
  background-color: var(--second);
  color: var(--main);
}

@media (max-width: 768px) {
  .pic {
    border-radius: 0;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .section-title {
    font-size: 1.2rem;
  }

  .section-text, .greetings {
    font-size: 0.9rem;
  }
}